.footer
{
    background: url(/img/jpg/footer-back.jpg) no-repeat center;
    background-size: cover;
    padding: 40px 0px 40px 0px ;
}

.footer-pic
{
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wrapper-for-footer
{
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 15px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row ;
}

.footer-picture
{
    display: block;
    width: 100%;
    margin-bottom: 50px;
}

.footer-title
{
    font-family: 'Readex Pro';
    font-style: bold;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.footer-subtitle
{
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    display: flex;
    justify-content: center;
}

.footer-content
{
    width: 100%;
    display: flex;
}

.footer-content>* {
    flex: 50 50 50px;

}

.icon-image
{
    display: flex;
    justify-content: center;
}
